<%- include("partials/header");  %>

<!-- Write your code here -->

<h1>Contact</h1>
<p>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <%=contactDetails.name %><br>
    <%=contactDetails.mobileNo %>
    <br>
    MailId &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  : <%= contactDetails.mailId %></p>
    
<%- include('partials/footer'); -%>
